$poppins: "Poppins", sans-serif;
$mono: "DM Mono", monospace;


$darkest: #050505;
$darker: #1A1039;
$dark: #786D97;

$light: #ABABAB;
$lighter: #F4F4F4;
$lightest: #FFFFFF;

$logo-light: #8258DC;
$logo-mid: #6854d9;
$logo-dark: #4E4ED6;
$bg-light: #FDFDFD;
$bg-dark: #1E1E1E;

$blue-light: #36C4E8;
$blue-mid: #209ce2;
$blue-dark: #0A73DC;

$magenta-light: #B835CF;
$magenta-mid: #7F21B3;
$magenta-dark: #450C97;

$red: #FA6F6F;
$orange: #FFB649;
$gold: #FDD135;
$green: #18DBAC;

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: $poppins;
  color: $darker;
  font-size: 1rem;
}

.span-inherit {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
}

.inline-code {
  font-family: $mono;
  font-size: 0.75rem;
  line-height: 1.25em;
  background: $lighter;
  padding: 0.2em 0.4em;
  color: #000000;
  margin: 0 0.1em;
  border-radius: 0.25em;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  display: flex;
}

.main-wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: calc(75vh - 2rem - 8px);
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.terminal-wrapper {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 45vw;
  height: calc(25vh - 2rem);
  display: flex;
  flex-direction: row;
  border-radius: 0.5rem;
  border: thin solid $blue-dark;
  color: $lightest;
  font: $mono;
  overflow: hidden;
  &.terminal-running {
    border: thin solid $green;
  }
}

.tab-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 0 0 2.5rem;
}

.tab {
  height: 100%;
  width: 15vw;
  display: flex;
  align-items: center;
  color: $lightest;
  justify-content: flex-start;
  font-weight: 500;
  border-radius: 1.25rem 1.25rem 0 0;
  background: blue;
  padding: 0 2rem;
  i {
    margin-right: 0.75rem;
    font-size: inherit;
    color: inherit;
    flex: 0 0 auto;
  }
  span {
    flex: 1 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.content-container {
  display: flex;
  width: 100%;
  flex: 1 1 0;
  background: $bg-light;
  border-radius: 0 1rem 1rem 1rem;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.content-header {
  width: 100%;
  flex: 0 0 5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to top right, #48A4D6, #6CC8BF);
  .sim-h1 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-left: 5vw;
    color: $lightest;
  }
}

.content {
  width: calc(100% - 4px);
  padding: 2rem 5vw;
  flex: 1 1 0;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(120, 109, 151, 0.5);
    border-radius: 1rem;
    border: thin solid $lightest;
    transition: background-color 0.1s ease-out;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 109, 151, 1);
  }
  .sim-h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1.5em;
  }
  .sim-p {
    font-size: 0.85rem;
    margin: 1em 0;
    color: $darkest;
  }
}

.editor-container {
  border-radius: 0.25rem;
  background: $lighter;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin: 1.5rem 0;
  &.editor-wrapper-collapse {
    .editor-collapse {
      display: none;
    }
    .editor-expand {
      display: block;
    }
    .editor-wrapper {
      max-height: 2.5rem;
      overflow-x: hidden;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 8px;
      }
      &::-webkit-scrollbar-track {
        background: none;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(171, 171, 171, 0.5);
      }
      &::-webkit-scrollbar-thumb:hover {
        background: rgba(171, 171, 171, 1);
      }
    }
  }
  &.editor-wrapper-expand {
    .editor-collapse {
      display: block;
    }
    .editor-expand {
      display: none;
    }
    .editor-wrapper {
      max-height: none;
    }
  }
  .editor-header {
    width: 100%;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    .editor-header-left,
    .editor-header-right {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      img {
        object-fit: contain;
        cursor: pointer;
        margin: 0 0.25rem;
        padding: 0.5rem;
        height: 1.75rem;
        width: 1.75rem;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        &.run-all:hover,
        &.run-above:hover {
          filter: invert(63%) sepia(67%) saturate(505%) hue-rotate(115deg) brightness(97%) contrast(93%);
        }
        &.editor-undo:hover {
          filter: invert(91%) sepia(18%) saturate(6140%) hue-rotate(320deg) brightness(103%) contrast(124%);
        }
        &.editor-reset:hover {
          filter: invert(52%) sepia(47%) saturate(3211%) hue-rotate(328deg) brightness(95%) contrast(114%);
        }
      }
    }
    .editor-header-text {
      font-family: $mono;
      color: $lightest;
      opacity: 0.75;
      font-size: 0.75rem;
      margin: 0 0.75rem;
    }
    .editor-header-sep {
      width: 1px;
      height: 65%;
      background: $lightest;
      opacity: 0.25;
    }
  }
  .editor-wrapper {
    width: 100%;
    padding: 1rem;
    padding-left: 0;
    .editor {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
  &.read-only {
    border: thin solid $light;
    .editor-header {
      background: $light;
    }
  }
  &.writable {
    border: thin solid $light;
    .editor-header {
      background: $blue-dark;
    }
  }
  &.block {
    padding: 1rem;
    .editor {
      width: calc(100% - 1px);
    }
  }
}

.terminal-header {
  background: $blue-dark;
  padding: 0.75rem 0;
  height: 100%;
  flex: 0 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: $lightest;
  font-size: 1rem;
  overflow: hidden;
  position: relative;
  i {
    color: inherit;
    font-size: inherit;
    opacity: 0.75;
    cursor: pointer;
    padding: 0.25rem;
    &:hover {
      opacity: 1;
    }
  }
  .header-text {
    font-size: inherit;
    font-family: $mono;
    color: inherit;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    transform-origin: 40% 50%;
    width: 1em;
  }
  .terminal-loading-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: $green;
    &.loading-10 {
      height: 10%;
      transition: height 0.4s ease-out;
    }
    &.loading-80 {
      height: 80%;
      transition: height 2s ease-out;
    }
    &.loading-100 {
      height: 100%;
      transition: height 0.5s ease-out;
    }
  }
}

.terminal {
  flex: 1 1 0;
  background: $bg-dark;
  white-space: pre-wrap;
  overflow-y: auto;
  height: 100%;
  font-family: $mono;
  color: $lightest;
  font-size: 0.75rem;
  padding: 1rem 1rem 0.5rem 1rem;
  * {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
  }
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: none;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.5);
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,1);
  }
  .terminal-text-success {
    color: $green;
  }
  .terminal-text-error {
    color: $red;
  }
}

#gameCanvas {
  height: 100%;
  width: 100%;
}

.compile-btn {
  position: absolute;
  bottom: 3rem;
  right: 4rem;
  padding: 1rem 2rem;
  background: $blue-mid;
  color: $lightest;
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.25);
  cursor: pointer;
  transition: transform 0.1s ease-out;
  i {
    font-size: 1.5em;
    margin-right: 0.25em;
    color: inherit;
  }
  &:hover {
    transform: translateY(-2px);
  }
  &.compile-idle {
    i:first-of-type,
    div:first-of-type {
      display: block;
    }
    i:not(:first-of-type),
    div:not(:first-of-type) {
      display: none;
    }
  }
  &.compile-loading {
    pointer-events: none;
    background: $green;
    opacity: 0.5;
    i:nth-of-type(2) {
      display: inline-block;
    }
    div:nth-of-type(2) {
      display: block;
    }
    .lds-dual-ring {
      width: 1em;
      height: 1em;
    }
    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 0.7em;
      height: 0.7em;
      margin: 0.15em;
      border-radius: 50%;
      border: 6px solid #fff;
      border-color: #fff transparent #fff transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }
    i:not(:nth-of-type(2)),
    div:not(:nth-of-type(2)) {
      display: none;
    }
  }
  &.compile-running {
    background: $red;
    i:last-of-type,
    div:last-of-type {
      display: block;
    }
    i:not(:last-of-type),
    div:not(:last-of-type) {
      display: none;
    }
  }
}

.keyword {
  color: $logo-mid;
  font-weight: 500;
  letter-spacing: 0.01em;
  font-size: inherit;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: $logo-mid;
}

.monaco-editor * {
  font-family: inherit;
  font-size: inherit;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}